@import '../app.component.scss';

.rodape-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: $cor-secundaria;
  color: $branco;

  div {
    display: flex;
    align-items: center;
    width: 1140px;
    margin: auto;

    h3 {
      margin: 0;
    }

    .filtro {
      filter: invert(100%);
    }
  }
}
